params {
    // Container
    c2s_container_url                       = "904220683607.dkr.ecr.us-west-2.amazonaws.com/cells2stats-release"
    c2s_container_tag                       = "1.4.0-beta"

    // Run
    run_dir                                 = null
    id                                      = null

    // Shared filtering options
    filter_batch                            = null
    tile                                    = []
    segmentation_dir                        = null

    // Assay type categories (for Panel.json batch logging)
    three_prime_types                       = ["ThreePrimeUntargeted", "Transcript"]
    specialized_types                       = ["SpecializedTargeted"]
    targeted_tx_types                       = ["TargetedTranscriptomeProfiling"]

    // cells2stats-specific options
    c2s_error_on_missing                    = false
    c2s_log_level                           = "info"
    c2s_max_unassigned                      = null
    c2s_no_error_on_invalid                 = false
    c2s_panel_json                          = null
    c2s_run_manifest                        = null
    c2s_skip_cellprofiler                   = false
    c2s_skip_html_report                    = false
    c2s_tca_manifest_csv                    = null
    c2s_well                                = []
    c2s_tar_program_logs                    = true
    c2s_args                                = ""

    // OPS / specialized targeted
    c2s_target_mismatch_threshold              = null   // --target-mismatch-threshold N (0-3); overrides TCA manifest
    c2s_specialized_targeted_min_query_length  = null   // --specialized-targeted-min-query-length LENGTH (>=12)
    c2s_generate_specialized_targeted_bams     = false  // --generate-specialized-targeted-bams

    // Boilerplate options
    outdir                                  = './results'
    tracedir                                = "${params.outdir}/pipeline_info"
    enable_conda                            = false
    publish_dir_mode                        = 'copy'

    // Config options
    custom_config_version                   = "main"
    custom_config_base                      = "https://raw.githubusercontent.com/Elembio/configs/${params.custom_config_version}"
    config_profile_description              = null
    config_profile_contact                  = null
    config_profile_url                      = null
    config_profile_name                     = null

    // Max resources
    max_cpus                                = 48
    max_memory                              = '192.GB'
    max_time                                = '8.h'

}

fusion.enabled = false
wave.enabled = false

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load custom config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load elembio/cells2stats-nf custom profiles from different institutions.
try {
    includeConfig "${params.custom_config_base}/pipeline/cells2stats_nf.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load pipeline config profile: ${params.custom_config_base}/pipeline/cells2stats_nf.config")
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
    name            = 'elembio/cells2stats-nf'
    author          = 'Carlos A Ruiz, Bryan R Lajoie'
    homePage        = 'https://github.com/Elembio/cells2stats-nf'
    description     = 'Cell stats generation from Element AVITI System'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.4.0-beta-rc1'
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

profiles {
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    test { includeConfig 'conf/test.config' }
    local { includeConfig 'conf/local.config' }
    tower { includeConfig 'conf/tower.config' }
    fusion { includeConfig 'conf/fusion.config' }
    notaskdir { includeConfig 'conf/notaskdir.config'}
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Set default registry for nf-core module containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
