params {
    config_profile_name        = 'Local profile'
    config_profile_description = 'Config for running on local compute'

}

cleanup = false

process {

    withName: CELLS2STATS  {
        cpus = 2
        memory = 6.GB
    }

    withName: MULTIQC  {
        cpus = 2
        memory = 6.GB
        time = 2.h
    }
}
