params {
    config_profile_name        = 'Local profile'
    config_profile_description = 'Config for running on local compute'

}

cleanup = false

fusion.enabled = false
wave.enabled = false
process.scratch = true

process {

    withName: CELLS2STATS  {
        cpus = 2
        memory = 6.GB
    }
}
