/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CELLS2STATS {
        publishDir = [
            [   
                path: { "${params.outdir}/cells2stats/" },
                mode: params.publish_dir_mode,
                pattern: "*.{json, csv, log, parquet}"
            ],
            [
                enabled: !(params.visualization_only),
                path: { "${params.outdir}/cells2stats" },
                mode: params.publish_dir_mode,
                pattern: "Wells/*"
            ],
            [
                enabled: params.visualization || params.visualization_only,
                path: { "${params.outdir}/cells2stats" },
                mode: params.publish_dir_mode,
                pattern: "visualization/*"
            ],
            [
                path: { "${params.outdir}/cells2stats" },
                mode: params.publish_dir_mode,
                pattern: "Logs/*"
            ],
            [
                enabled: !(params.visualization_only),
                path: { "${params.outdir}/cells2stats" },
                mode: params.publish_dir_mode,
                pattern: "CellSegmentation/*"
            ],
        ]
    }

    withName: MULTIQC {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,yml,log}"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_data"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_plots"
            ]
        ]
    }
}
