/*
========================================================================================
    Nextflow config file for running a minimal cells2stats test
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Elembio/cells2stats-nf -profile test,docker

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check cells2stats pipeline function'

    // Limit resources so that this can run on CI
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data — public Element cytoprofiling dataset (single tile for fast execution)
    id      = "20250820_AV222902_WHTF-1078"
    run_dir = "s3://element-public-data/cytoprofiling/20250820_AV222902_WHTF-1078_20251112T053054Z/"

    tile = ["L1R01C01S1"]  // 1 Tile

    c2s_skip_html_report = false

}

// ═══════════════════════════════════════════════════════════════════════════════
// PROCESS RESOURCES (reduced for testing)
// ═══════════════════════════════════════════════════════════════════════════════

process {
    // cells2stats
    withName: CELLS2STATS {
        cpus = 8
        memory = 15.GB
        time = 2.h
        maxRetries = 2
    }
}

// ═══════════════════════════════════════════════════════════════════════════════
// INFRASTRUCTURE
// ═══════════════════════════════════════════════════════════════════════════════

cleanup = false
