/*
========================================================================================
    Nextflow config file for running a minimal cells2stats test
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/elemutils -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check cells2stats pipeline function'

    // Limit resources so that this can run on GitLab-ci
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    id = 'test_cells2stats'
    input_dir = 's3://elembio-usw2-s3-storage/Cells2ParquetRegression/input/20240711_AV223501_ACE-1927_CNN__4Tile2Well_0.28.2'
    panel = "s3://elembio-usw2-s3-storage/Cells2ParquetRegression/input/20240711_AV223501_ACE-1927_CNN__4Tile2Well_0.28.2/Panel.json"
    run_manifest = "s3://elembio-usw2-s3-storage/Cells2ParquetRegression/input/20240711_AV223501_ACE-1927_CNN__4Tile2Well_0.28.2/RunManifest.json"
}
